@import "tailwindcss";
@plugin "daisyui";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html,
body {
  min-height: 100%;
  overflow-x: auto;
}

body {
  background: var(--color-base-200);
  color: var(--color-base-content);
  font-family: var(--font-geist-sans), sans-serif;
}

.tooltip[data-tip]:before {
  white-space: pre-line;
  max-width: 18rem; /* 根据需要调整 */
  white-space: pre-wrap;
}